body{
    background-size:contain;
}
.note{
    font-size: 15px;
    font-family: Georgia;
    color:paleturquoise;
}
.heading{
    font-size: 23px;
    font-family: fantasy;
    width:100%;
    margin:0px;

}
.img{
    width:200px;
    border-radius: 100px;
}
#speed_div{
    float:left;
    
}
#vol_div{
    float:right;
}
#ctrlVol{
    font-size: 23px;
  margin:15px;
}
#ctrlSpeed{
    font-size: 23px;
  margin:15px;
}